.navbar {
  width: 100%;
  position: fixed;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo-container {
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  margin-top: 4rem;
}

.fade-in-logo {
  animation: fadeIn 3s;
}

.fade-out-logo {
  animation: fadeOut 1000ms;
}

.logo:hover {
  cursor: pointer;
}

.nav-icon {
  padding: 2rem 1rem;
}

.nav-icons-right {
  display: none;
  @include respond(tab-port) {
    display: initial;
  }
}

.nav-icon:hover {
  cursor: pointer;
}

.nav-left-items {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding-inline-start: 0;
  padding: 2rem 1.5rem;

  @include respond(tab-port) {
    display: none;
  }
}

.nav-right-items {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding-inline-start: 0;
  padding: 2rem 1.5rem;

  @include respond(tab-port) {
    display: none;
  }
}

.nav-item {
  font-size: $font-default;
  text-decoration: none;
  letter-spacing: 0.2ch;
  padding: 0.2rem 0.35rem;
  font-weight: 600;
}

.nav-item:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
  color: $hover-grey;
  cursor: pointer;
}

.navbar-sandwich-menu {
  display: none;

  @include respond(tab-port) {
    display: initial;
  }
}
