$font-primary: "Montserrat", sans-serif;
$font-secondary: "Playfair Display", serif;
$font-xl: 5rem;
$font-lg: 3rem;
$font-default: 1.15rem;
$color-primary: #ac1700;
$color-secondary: #141418;
$color-tertiary: white;
$black: #000000;
$color-text-primary: #23232e;
$color-text-light: #f0ebe3;
$color-background: #cfd2cf;
$color-background-alternate-1: #f0ebe3;
$color-background-alternate-2: #a2b5bb;
$color-background-alternate-3: #f1eee9;
$hover-grey: #413f42;
$letter-spacing-small: 0.1ch;
